.logsign {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: whitesmoke;
}

.headtext h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: Righteous;
}