.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #745f5f;
}


.banner {
    width: 100%;

}

.main-container {
    display: flex;
}

.review-container {
    display: flex;
    justify-content: center;
}