

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    border-left: none;
    border-right: none;
    margin: none;
    padding: 0.5em 2em;
}

#logo {
color: #FFF;
text-align: center;
font-family: Righteous;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.menu a {
    display:inline-flex;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

.menu ul {
    margin: 0;
    padding: 0;
    justify-content:center;
    display: flex;
    gap: 20px;
    
}

/* Main component styling */
.maincont {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#maincont {
    display: flex;
}

.tile1 {
    width: 455px;
}