

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    border-left: none;
    border-right: none;
    margin: none;
    padding: 5px 50px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
}

.menu a {
    display:inline-flex;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    /* font-family: "Roboto Mono"; */
    font-style: normal;
    font-weight: 100;
   
    
}

.menu ul {
    margin: 0;
    padding: 0;
    justify-content:center;
    display: flex;
    gap: 20px;
    
}
